doctype html
html(lang="en")
    head
        title Name The Jar
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='static/style.css')
    body
        .row(data-equalizer)
            header(data-equalizer-watch)
                .small-12.medium-12.large-9.xlarge-7.columns
                    h1
                        .top name
                        .bottom the jar
                            .line
                    h2 TL;DR - why should I care?
                    p You give us a great name for the Jar, we give you a [beautiful Jar sweatshirt](link_do_fociaka_z_bluza).
                    p And if the name gets actually chosen, we'll also give you the free conference ticket.
                    p Just fill out the form! There are three sweatshirts and one conference ticket waiting for best proposals until the 1th of March 2015.
                    .spacer

            section.form(data-equalizer-watch)
                 .small-10.small-centered.medium-12.large-6.large-centered.columns
                    form
                        #loading.hidden
                        #thanks.hidden
                            span Thank you for sending the name!
                            button send one more

                        input(type='text' name='entry.1339169255' placeholder='name the jar' required=true)
                        input(type='email' name='entry.770624702' placeholder='your e-mail')
                        button(value='Submit') send
        .row
            section.description
                .small-12.medium-12.large-9.xlarge-7.columns
                    h2 What is the Jar?
                    p The Jar is the logo for the 100% workshop technology conference taking place at the end of summer 2015 at Warsaw, Poland. If you believe in learning by doing approach and are thirsty for knowledge and networking this conference is for you! There will be multiple hands-on sessions on software development, devops tools, product design, IoT and hardware renaissance, agile practices and many many more. Instead of just talking about great new tools - the Jar will show you how to actually use them.

                    h2 Why we need the name for the Jar?
                    p Because the Jar is full of knowledge and ideas, but no-one knows how to call it. Do you?

                    h2 Why the Jar?
                    p That's a great question! Please, you tell us :) We'd love to [hear your thoughts](mailto://lets@namethejar.pl)!
            section.team
                .small-12.medium-6.columns
                    ul.small-block-grid-2.show-for-small-only
                        li
                            img(src='./static/img/michal.jpg', alt='Michał Lewandowski photo')
                        li
                            img(src='./static/img/magda.jpg', alt='Magda Żebrowska photo')
                        li
                            img(src='./static/img/maciek.jpg', alt='Maciej Opała photo')
                        li
                            img(src='./static/img/ilona.jpg', alt='Ilona Sobiczewska photo')
                        li
                            img(src='./static/img/tomek.jpg', alt='Tomasz Netczuk photo')
                        li
                            img(src='./static/img/krzysiek.jpg', alt='Krzysztof Siejkowski photo')
                    ul.medium-block-grid-5.show-for-medium-up
                        li
                            img(src='./static/img/transparent-square.png')
                        li
                            img(src='./static/img/transparent-square.png')
                        li
                            img(src='./static/img/michal.jpg', alt='Michał Lewandowski photo')
                        li
                            img(src='./static/img/transparent-square.png')
                        li
                            img(src='./static/img/magda.jpg', alt='Magda Żebrowska photo')

                        li
                            img(src='./static/img/transparent-square.png')
                        li
                            img(src='./static/img/transparent-square.png')
                            span meet<br>the<br>team

                        li
                            img(src='./static/img/transparent-square.png')
                        li
                            img(src='./static/img/maciek.jpg', alt='Maciej Opała photo')
                        li
                            img(src='./static/img/transparent-square.png')

                        li
                            img(src='./static/img/ilona.jpg', alt='Ilona Sobiczewska photo')
                        li
                            img(src='./static/img/transparent-square.png')
                        li
                            img(src='./static/img/tomek.jpg', alt='Tomasz Netczuk photo')
                        li
                            img(src='./static/img/transparent-square.png')
                        li
                            img(src='./static/img/krzysiek.jpg', alt='Krzysztof Siejkowski photo')




        script(src='static/script.js' defer)

//section.jar
//    img(src='static/jar-full-resolution.jpg')